<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-prd" >
	<tr>
		<td>
			<f:translate key="tx_prd_domain_model_product.title" />
		</td>
		<td>
			{product.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_prd_domain_model_product.price" />
		</td>
		<td>
			{product.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_prd_domain_model_product.image" />
		</td>
		<td>
			{product.image.originalResource.name}
		</td>
	</tr>
</table>
</html>