<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:h="Skener\Prd\ViewHelpers"
			data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_prd_domain_model_product.title"/>
</label><br/>
<f:form.textfield property="title"/>
<br/>
<label for="price">
	<f:translate key="tx_prd_domain_model_product.price"/>
</label><br/>
<f:form.textfield property="price"/>
<br/>
<label for="image">
	<f:translate key="tx_prd_domain_model_product.image"/>
	<h:form.upload property="image">
		<f:if condition="{resource}">
			<f:image image="{resource}" alt="" width="50"/>
		</f:if>
	</h:form.upload>
	<br/>
</label><br/>
</html>
