<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Product</h1>

<f:flashMessages />

<table  class="tx_prd" >
	<tr>
		<th><f:translate key="tx_prd_domain_model_product.title" /></th>
		<th><f:translate key="tx_prd_domain_model_product.price" /></th>
		<th><f:translate key="tx_prd_domain_model_product.image" /></th>
		<th>Created</th>
		<th>Modified</th>
		<th> </th>
		<th> </th>
	</tr>
	<f:for each="{products}" as="product">
		<tr>
			<td><f:link.action action="show" arguments="{product : product}"> {product.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{product : product}"> {product.price}</f:link.action></td>
			<td>
				<f:if condition="{product.image}"><f:image image="{product.image}" alt="" width="50"/></f:if>
				{product.image.0.originalResource.name}
				{product.image.originalResource.name}
				{product.image.originalResource.publicUrl}
				{product.image.name}

			</td>
			<td>	<f:format.date date="{product.crdate}" format="d.m.Y [H:i:s]"/></td>
			<td><f:format.date date="{product.tstamp}" format="d.m.Y [H:i:s]"/></td>
			<td><f:link.action action="edit" arguments="{product : product}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{product : product}">Delete</f:link.action></td>
		</tr>
		</f:for>
</table>

<f:link.action action="new">New Product</f:link.action>
	</f:section>
</html>
